.product__details {
     margin-top: 70px;
}

.product__details h2 {
     font-size: 1.8rem;
     margin-top: 2rem;

}

.product__rating p span {
     color: coral;

     font-weight: 500;

}


.product__price {
     font-size: 1.3rem;
     font-weight: 500;
}


.active__wrapper h6 {
     color: var(--primary-color);
     font-weight: 500;
     font-size: 1rem;
}

.active__tab {
     font-weight: 600;
}

.tab__content p {
     line-height: 30px;
}

.review__wrapper ul li p {
     margin-top: 10px;
}

.review__form  {
     width: 70%;
     margin: auto;
     margin-top: 50px;
}

.review__form h4 {
     font-size: 1.2rem;
     font-weight: 600;
     margin-bottom: 30px;
     padding: 8px 20px;
}


.form__group input ,.form__group textarea {
     width: 100%;
     border: 1px solid #e7e7e7;
     border-radius: 10px;
     padding: 8px 20px;
     


}

.form__group{
     margin-bottom: 30px;
}
.form__group input:focus{
     outline: none;
}

.form__group span {
cursor: pointer;
}

.related__title{
     font-size: 1.2rem;
}

@media screen and (max-width:768px) {

}