.product__item {
     cursor: pointer;
}

.product__info h3 a {
     font-size: 1.3rem;
     color: var(--primary-color);
     font-weight: 600;
     margin-top: 15px;

}

.product__info a:hover {
     color: inherit;
}

.product__name a {
     display: -webkit-box;
     -webkit-box-orient: vertical;
     -webkit-line-clamp: 1;
     overflow: hidden;
}

.product__info span {
     font-size: 0.9rem;
}

.product__card-bottom .price {
     color: var(--primary-color);
     font-size: 1.3rem;
     font-weight: 500;
}

.product__card-bottom span:nth-child(2) {
     cursor: pointer;
     background-color: var(--primary-color);
     padding: 5px;
}

@media screen and (max-width:992px) {
     .product__info h3 a {
          font-size: 1.1rem;
     }
}

@media screen and (max-width:768px) {
     .product__info h3 a {
          font-size: 1rem;
     }

   
}
